.table>tbody>tr>th.greycolomn {
background-color: #c0c0c0;
color: #000000;
}
.table>tbody>tr>td.greycolomn {
background-color: #c0c0c0;
color: #000000;
}
.table>thead>tr>td.greycolomn {
background-color: #c0c0c0;
color: #000000;
}
.table>tbody>tr>td.darkgrey {
background-color: #656565;
color: #ffffff;	
}
.table>tbody>tr>td.purpur {
background-color: #d88ad5;
color: #000000;	
}
.table>tbody>tr>td.red {
background-color: #fd6864;
color: #000000;	
} 
.table>tbody>tr>td.yellow {
background-color: #ffd43c;
color: #000000;	
}
.table>tbody>tr>td.liteyellow {
background-color: #fffe65;
color: #000000;	
} 
.table>tbody>tr>td.green {
background-color: #9aff99;
color: #000000;	
} 
.table>tbody>tr>td.liteblue {
background-color: #96fffb;
color: #000000;	
} 
.table>tbody>tr>td.blue {
background-color: #84a2fb;
color: #000000;	
} 